<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1"
      xmlns:sec="http:/www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>Index </title>
</head>
<body style="background-image:url('https://thumbs.dreamstime.com/z/medical-background-medicine-symbol-infographic-elements-blue-vector-illustration-165003935.jpg');background-repeat: no-repeat;background-size: cover; ">
<div layout:fragment="content1">
</div>


</body>
</html>